@mixin grid-responsive-column-qty-12($child: "", $classname: "", $property: "", $indent: 0, $important: "") {
  #{$child}#{$classname}1  {#{$property}:  8.333% + $indent#{$important};}
  #{$child}#{$classname}2  {#{$property}: 16.666% + $indent#{$important};}
  #{$child}#{$classname}3  {#{$property}: 25% + $indent#{$important};}
  #{$child}#{$classname}4  {#{$property}: 33.333% + $indent#{$important};}
  #{$child}#{$classname}5  {#{$property}: 41.666% + $indent#{$important};}
  #{$child}#{$classname}6  {#{$property}: 50% + $indent#{$important};}
  #{$child}#{$classname}7  {#{$property}: 58.333% + $indent#{$important};}
  #{$child}#{$classname}8  {#{$property}: 66.666% + $indent#{$important};}
  #{$child}#{$classname}9  {#{$property}: 75% + $indent#{$important};}
  #{$child}#{$classname}10 {#{$property}: 83.333% + $indent#{$important};}
  #{$child}#{$classname}11 {#{$property}: 91.666% + $indent#{$important};}
  #{$child}#{$classname}12 {#{$property}: 100% + $indent#{$important};}
}

@if $layout != "fixed" {
  
  body {min-width: ($desktop-min-width + 20);}

  .ctn {
    min-width: $desktop-min-width;
    max-width: $desktop-max-width;
    width:     $desktop-ctn-width;
  }

  .visible-phone,
  .visible-tablet,
  .hidden-desktop {display: none !important;}

  @if $responsive == "auto" {
    
    @if $responsive-column-qty == 8 {

    }

    @if $responsive-column-qty == 12 {
      //****************************************************************************************************
      //
      // .. GRID
      //
      //****************************************************************************************************
      .grid {
        &.__no-gutter {
          margin-bottom: 0;
          margin-left: 0;
          > .grid-i[class*="__grid-"] {
            margin-bottom: 0;
            margin-left: 0;
          }
          @include grid-responsive-column-qty-12("> ", ".grid-i.__grid-", "width", 0);
        }
        margin-bottom: -2%;
        margin-left: -2%;
        > .grid-i[class*="__grid-"] {
          margin-bottom: 2%;
          margin-left: 2%;
        }
        @include grid-responsive-column-qty-12("> ", ".grid-i.__grid-", "width", -2%);
      }

      @include grid-responsive-column-qty-12("", ".grid-i.__grid-", "width", 0);



      //****************************************************************************************************
      //
      // .. PREFIX, SUFFIX
      //
      //****************************************************************************************************
      //
      // .. Prefix
      //
      .grid {
        &.__no-gutter {
          @include grid-responsive-column-qty-12("> ", ".grid-i.__prefix-", "margin-left", 0, " !important");
        }
        @include grid-responsive-column-qty-12("> ", ".grid-i.__prefix-", "margin-left", 2%);
      }
      @include grid-responsive-column-qty-12("", ".grid-i.__prefix-", "margin-left", 0);

      //
      // .. Suffix
      //
      .grid {
        &.__no-gutter {
          @include grid-responsive-column-qty-12("> ", ".grid-i.__suffix-", "margin-right", 0, " !important");
        }
        @include grid-responsive-column-qty-12("> ", ".grid-i.__suffix-", "margin-right", 2%);
      }
      @include grid-responsive-column-qty-12("", ".grid-i.__suffix-", "margin-right", 0);
    }

  }

}