%body#page.page.__feedback
  = haml 'views/layouts/alerts/_ie'.to_sym
  = haml 'views/layouts/alerts/_no-js'.to_sym

  %header#header.header{role: "banner"}
    .ctn
      = haml 'views/layouts/_lang'.to_sym
      .grid
        .grid-i.__grid-3.va-m
          %a{href: "/"}
            %img{src: "/assets/images/logo_white.png", alt: "Ping", width: "196", height: "81", class: "logo"}
        .grid-i.__grid-9.va-m
          %nav#nav{role: "navigation"}

  %main#main.main{role: "main"}

    %section.section.p-b_3{role: "region", "aria-label" => "Feedback"}
      .ctn
        .feedback-form
          %form.form{id: "feedback-form"}
            .form_row
              %input{type: "text", class: "form_text form_el __block", placeholder: "Name", name: "data[name]", autofocus: "autofocus"}
            .form_row
              %input{type: "text", class: "form_text form_el __block", placeholder: "Email", name: "data[email]"}
            .form_row
              .form_select.form_el.__fake.__block
                %p &nbsp;
                %select.form_select.form_el.__real{name: "data[inquiry]"}
                  %option{value: "No subject", selected: "selected"} Please choose from the following topics
                  %option{value: "Bug/technical issue report"} Bug/technical issue report 
                  %option{value: "Confirmation code"} Confirmation code
                  %option{value: "PR"} PR
                  %option{value: "Partnership"} Partnership
                  %option{value: "Other"} Other
            .form_row
              %input{type: "text", class: "form_text form_el __block", placeholder: "Subject", name: "data[subject]"}
            .form_row
              %textarea.form_textarea.form_el.__block{rows: 5, placeholder: "Your message", name: "data[message]"}
            .form_row
              .tx.__center
                %input{type: "hidden", name: "send"}
                %a{href: "#", class: "feedback-form_submit", id: "feedback-form-submit"} Send

  = haml 'views/layouts/_footer'.to_sym
