%body#page.page.__feedback
  = haml 'views/layouts/alerts/_ie'.to_sym
  = haml 'views/layouts/alerts/_no-js'.to_sym

  %header#header.header{role: "banner"}
    .ctn
      .grid
        .grid-i.__grid-3.va-m
          %a{href: "#"}
            %img{src: "/assets/images/logo_white.png", alt: "Ping", width: "196", height: "81", class: "header_logo"}
        .grid-i.__grid-9.va-m
          %nav{role: "navigation"}
            %ul.header_nav
              %li.header_nav_i
                %a{href: "/terms", class: "header_nav_i_a"} Условия использования
              %li.header_nav_i
                %a{href: "/feedback", class: "header_nav_i_a __current"} Обратная связь
              %li.header_nav_i
                %a{href: "http://pingapp.tumblr.com/", class: "header_nav_i_a"} Блог

  %main#main.main.__feedback{role: "main"}

    %section.section.p-b_3{role: "region", "aria-label" => "Feedback"}
      .ctn
        .feedback-form
          %form.form{id: "feedback-form"}
            .form_row
              %input{type: "text", class: "form_text form_el __block", placeholder: "Name", name: "data[name]", autofocus: "autofocus"}
            .form_row
              %input{type: "text", class: "form_text form_el __block", placeholder: "Email", name: "data[email]"}
            .form_row
              %input{type: "text", class: "form_text form_el __block", placeholder: "Please choose from the following topics", name: "data[inquiry]"}
            .form_row
              %input{type: "text", class: "form_text form_el __block", placeholder: "Subject", name: "data[subject]"}
            .form_row
              %textarea.form_textarea.form_el.__block{rows: 5, placeholder: "Requset message", name: "data[message]"}
            .form_row
              .tx.__center
                %input{type: "hidden", name: "send"}
                %a{href: "#", class: "feedback-form_submit", id: "feedback-form-submit"} Send

  %footer#footer.footer{role: "contentinfo"}
    .ctn
      %p All rights reserved 2013-2014