%body#page.page.__home
  = haml 'views/layouts/alerts/_ie'.to_sym
  = haml 'views/layouts/alerts/_no-js'.to_sym

  %main#main.main{role: "main"}

    %section.section{role: "region", "aria-label" => "Home"}
      .ctn
        = haml 'views/layouts/_lang'.to_sym
        %img{src: "/assets/images/logo_white.png", alt: "Ping Confidential Messenger", width: "196", height: "81", class: "logo"}
        .name
        .lopata
          %img{src: "/assets/images/lopata.png", width: "294", height: "614", alt: "Ping App"}
        %nav.social
          %a{href: "https://www.facebook.com/pages/Ping/569723926382150", class: "social_i"}
            %i.ico.__30.__fb
            %span Facebook
          %span.social_separator
          %a{href: "https://twitter.com/AppPing", class: "social_i"}
            %i.ico.__30.__tw
            %span Twitter
        %nav#nav{role: "navigation"}
        .download
          %a{href: "https://itunes.apple.com/us/app/ping-app/id694666193?l=ru&ls=1&mt=8", class: "download_i"}
            %img{src: "/assets/images/appstore.png", width: "173", height: "52", alt: "Download on App Store"}
          %a{href: "#", class: "download_i"}
            %img{src: "/assets/images/googleplay.png", width: "173", height: "52", alt: "coming soon on Google Play"}

  = haml 'views/layouts/_footer'.to_sym