%nav.lang
  %span.lang_i.__current EN
  %a{href: "#", class: "lang_i", rel: "EN"} EN
  %a{href: "#", class: "lang_i", rel: "RU"} RU
  %a{href: "#", class: "lang_i", rel: "FR"} FR
  %a{href: "#", class: "lang_i", rel: "ES"} ES
  %a{href: "#", class: "lang_i", rel: "IT"} IT
  %a{href: "#", class: "lang_i", rel: "PT"} PT
  %a{href: "#", class: "lang_i", rel: "DE"} DE
  %a{href: "#", class: "lang_i", rel: "NL"} NL
  %a{href: "#", class: "lang_i", rel: "ZH"} ZH
  %a{href: "#", class: "lang_i", rel: "KO"} KO
  %a{href: "#", class: "lang_i", rel: "JA"} JA
  %a{href: "#", class: "lang_i", rel: "TH"} TH
  %a{href: "#", class: "lang_i", rel: "ID"} ID
  %a{href: "#", class: "lang_i", rel: "VI"} VI
  %a{href: "#", class: "lang_i", rel: "AR"} AR