:plain
  <script type="text/template" id="navigation">
    <ul class="nav">
      <li class="nav_i"><a class="nav_i_a" href="/terms"><%= terms %></a></li>
      <li class="nav_i"><a class="nav_i_a" href="/feedback"><%= feedback %></a></li>
      <li class="nav_i"><a class="nav_i_a" href="http://pingapp.tumblr.com/"><%= blog %></a></li>
    </ul>
  </script>

  <script type="text/template" id="name">
    <p><%= confidential %></p>
    <p><%= messenger %></p>
  </script>