@if $layout != "static" {

  //****************************************************************************************************
  //
  // .. HEADER
  //
  //****************************************************************************************************
  .header {
    &.__sticky {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1999;
      width: 100%;
      background: $base-bg;
      box-shadow: .1em .1em .3em rgba(0, 0, 0, .25);
    }
  }

}