//****************************************************************************************************
//
// .. SYSTEM
//
//****************************************************************************************************
@charset "utf-8";
@import "config";
@import "mixins";



//****************************************************************************************************
//
// .. VENDOR
//
//****************************************************************************************************
@import "vendor/jquery.arcticmodal-0.3.css";
@import "vendor/font-awesome.min.css";
@import "vendor/animate.min.css";



//****************************************************************************************************
//
// .. BASE
//
//****************************************************************************************************
@import "layers/base/reset";
@import "layers/base/styles";
@import "layers/base/alerts";
@import "layers/base/dialogs";
@import "layers/base/grid";
@import "layers/base/grid-fixed";
@import "layers/base/grid-responsive-manual";
@import "layers/base/indents";
@import "layers/base/forms";
@import "layers/base/currency";



//****************************************************************************************************
//
// .. STYLES
//
//****************************************************************************************************
@import "layers/styles/styles";
@import "layers/styles/alerts";
@import "layers/styles/dialogs";
@import "layers/styles/links";
@import "layers/styles/forms";
@import "layers/styles/content";
@import "layers/styles/animations";



//****************************************************************************************************
//
// .. COMPONENTS
//
//****************************************************************************************************
@import "components";



//****************************************************************************************************
//
// .. PROJECT
//
//****************************************************************************************************
@import "layers/project/icons";
@import "layers/project/project";
@import "layers/project/shame";



//****************************************************************************************************
//
// .. RESPONSIVE
//
//****************************************************************************************************
@media all and (max-width: ($phone-max-width + 20)) {
  @import "layers/base/phone/grid-responsive-auto";
  @import "layers/styles/phone/styles";
  @import "layers/project/phone/project";
}

@media all and (min-width: ($tablet-min-width + 20 + 1)) and (max-width: ($tablet-max-width + 20)) {
  @import "layers/base/tablet/grid-responsive-auto";
  @import "layers/styles/tablet/styles";
  @import "layers/project/tablet/project";
}

$media-query: "";
@if $layout == "fluid" {
  $media-query: "";
} @else if $layout == "responsive" {
  $media-query: "and (min-width: " + ($desktop-min-width + 20 + 1) + ")";
}

@media all #{$media-query} {
  @import "layers/base/desktop/grid-responsive-auto";
  @import "layers/styles/desktop/styles";
  @import "layers/project/desktop/project";
}



//****************************************************************************************************
//
// .. MEDIA
//
//****************************************************************************************************
@import "media/print";