//****************************************************************************************************
//
// .. LAYOUT
//
//****************************************************************************************************
//
// .. Layout type
//
$layout: fixed; // .. fixed / fluid / responsive
$responsive: auto; // .. auto / manual (activated if $layout: responsive;)
$responsive-column-qty: 12; // .. 8 / 12 (activated if $responsive: auto;)

//
// .. Fixed layout variables
//
$column-qty:    12;
$column-width:  60;
$column-gutter: 20;

//
// .. Fluid & responsive layouts variables
//
  $phone-font-size: 81.25%;
 $tablet-font-size: 71.875%;
$desktop-font-size: 62.5%;

  $phone-ctn-width: 80%;
 $tablet-ctn-width: 80%;
$desktop-ctn-width: 80%;

$desktop-min-width: 940px;
$desktop-max-width: 1180px;
  
//
// .. Responsive layout variables
//
 $phone-min-width: 300px;
 $phone-max-width: 460px;

$tablet-min-width: 460px;
$tablet-max-width: 940px;



//****************************************************************************************************
//
// .. STYLES
//
//****************************************************************************************************
//
// .. Body
//
$base-bg: #f9f9f9;
$base-color: #292b2b;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
$base-font-size: 1.3rem;
$base-font-weight: 400;
$base-line-height: 1.4;

//
// .. Flagman
//
$flagman-bg: #b7e045;

//
// .. Headings
//
$h-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;;

$h1-font-size:   2rem;
$h1-font-weight: 400;
$h1-line-height: 1;

$h2-font-size:   3rem;
$h2-font-weight: 700;
$h2-line-height: 1.125;

$h3-font-size:   2.5rem;
$h3-font-weight: 700;
$h3-line-height: 1.25;

$h4-font-size:   2rem;
$h4-font-weight: 700;
$h4-line-height: 1.375;

$h5-font-size:   $base-font-size;
$h5-font-weight: 700;
$h5-line-height: $base-line-height;

$h6-font-size:   $base-font-size;
$h6-font-weight: $base-font-weight;
$h6-line-height: $base-line-height;

//
// .. Links
//
$links-color: $base-color;
$links-color-hover: #5cc1ff;
$links-color-active: #5cc1ff;
$links-style: un;        // .. nn / uu / un / nu
$links-style-pseudo: uu; // .. nn / uu / un

//
// .. Forms
//
$form-el-bg: #fff;
$form-el-border-color: #ccc;
$form-el-border: none;
$form-el-border-radius: 0;
$form-el-color: #000;
$form-el-color-required: #f00;
$form-el-color-valid-true: #008000;
$form-el-color-valid-false: #f00;
$form-el-font-size: 2rem;
$form-el-line-height: $base-line-height;
$form-el-padding: 1.3rem 2.5rem;
$form-btn-padding: .3rem 1.5rem;

//
// .. Content styles
//
$content-factor: 2;
$content-link: false; // .. true / false
$content-link-color: #0000cd;
$content-link-color-hover: #ccc;
$content-link-color-active: darken($content-link-color-hover, 10%);

//
// .. Text sizes
//
$tx-xxs: $base-font-size * .5;
$tx-xxs-line-height: $base-line-height * .5;

$tx-xs: $base-font-size * .7;
$tx-xs-line-height: $base-line-height * .7;

$tx-s: $base-font-size * .9;
$tx-s-line-height: $base-line-height * .9;

$tx-l: $base-font-size * 1.1;
$tx-l-line-height: $base-line-height * 1.1;

$tx-xl: $base-font-size * 1.33;
$tx-xl-line-height: $base-line-height * 1.33;

$tx-xxl: $base-font-size * 1.5;
$tx-xxl-line-height: $base-line-height * 1.5;