!!!
%html.no-js{lang: "ru-RU"}
 %head
  %title Ping app
  %meta{property: "og:title", content: "Ping app"}
  %meta{property: "og:url",   content: "http://pingapp.me/getapp/"}
  %meta{property: "og:image", content: "https://backend.pingapp.me/images/SocialShareLogo@2x.png"}
  %script{src: "/assets/javascripts/redirect.js"}
  %script{src: "/assets/javascripts/isMobile.js"}
 %body
  = yield