!!!
%html.no-js{lang: "ru-RU"}
 %head
  %title Ping app
  %meta{content: "http://pingapp.me/assets/images/logo_share.png", property: "og:image"}
  %script{src: "/assets/javascripts/redirect.js"}
  %script{src: "/assets/javascripts/isMobile.js"}
 %body
  = yield