@mixin size($w, $h) {
  width:  #{$w}px;
  height: #{$h}px;
}

//****************************************************************************************************
//
// .. ICONS
//
//****************************************************************************************************
.ico {
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  &.__30 {
     @include size(30, 30);
     background-image: url(/assets/images/icons/ico-30.png);
     &.__fb {background-position: 0 0;}
     &.__tw {background-position: -30px 0;}
  }
}