//****************************************************************************************************
//
// .. PAGE
//
//****************************************************************************************************
.page {
  &.__home {
    background-color: $base-bg;
    height: 100%;
    min-height: 768px !important;
    @media all and (max-width: ($phone-max-width + 20)) {
      min-height: 1000px !important;
    }
    .section {
      background-color: $flagman-bg;
      height: 495px;
      padding-top: 9.5rem;
      @include prefixes(box-sizing, border-box);
      > .ctn {
        position: relative;
      }
      .nav {
        margin-bottom: 4.5rem;
        text-align: left;
        .nav_i {
          margin: 0 5rem 0 0;
        }
      }
    }
    .footer {
      background-color: $base-bg;
      color: #b4b4b4;
    }
  }
  &.__terms {
    background-color: $base-bg;
    .header {
      .nav_i_a {
        &:hover,
        &.__current {
          color: $links-color-hover;
        }
      }
    }
    .section {

    }
    .footer {
      background-color: $flagman-bg;
      color: #fff;
    }
  }
  &.__feedback {
    background-color: $flagman-bg;
    .header {
      .nav_i_a {
        &:hover,
        &.__current {
          color: #fff;
        }
      }
    }
    .section {

    }
    .footer {
      background-color: $base-bg;
      color: #b4b4b4;
    }
  }
}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  // .. &.__sticky / null / null
  padding: 5rem 0;
}



//****************************************************************************************************
//
// .. LOGO
//
//****************************************************************************************************
.logo {
  vertical-align: top;
}



//****************************************************************************************************
//
// .. NAVIGATION
//
//****************************************************************************************************
.nav {
  text-align: center;
}
.nav_i {
  display: inline-block;
  margin: 0 2.5rem;
}
.nav_i_a {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  &:hover, &.__current {text-decoration: none;}
}



//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
.section {

}



//****************************************************************************************************
//
// .. NAME
//
//****************************************************************************************************
.name {
  margin: 6rem 0 4rem 0;
  p {
    font-size: 6rem;
    line-height: .9;
    &:first-child {
      color: #292b2b;
      font-weight: 100;
    }
    &:last-child {
      color: #fff;
      font-weight: 300;
    }
  }
}



//****************************************************************************************************
//
// .. SOCIAL
//
//****************************************************************************************************
.social {
  margin-bottom: 10rem;
}
.social_i {
  i {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
  }
}
.social_separator {
  background-color: #fff;
  display: inline-block;
  height: 4rem;
  margin: 0 3rem;
  width: .1rem;
  vertical-align: middle;
}



//****************************************************************************************************
//
// .. LOPATA
//
//****************************************************************************************************
.lopata {
  position: absolute;
  top: -1.5rem;
  right: 0;
  z-index: 9999;
  img {
    vertical-align: top;
  }
}



//****************************************************************************************************
//
// .. DOWNLOAD
//
//****************************************************************************************************
.download {

}
.download_i {
  display: inline-block;
  margin-right: 3.5rem;
  vertical-align: top;
}



//****************************************************************************************************
//
// .. FEEDBACK
//
//****************************************************************************************************
.feedback-form {
  margin: 0 auto;
  width: 52rem;
}
.feedback-form_submit {
  color: #fff;
  display: inline-block;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 0;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: #fff;
  }
}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  font-weight: 300;
  padding: 6.5rem 0 3rem;
  @include prefixes(box-sizing, border-box);
}