//****************************************************************************************************
//
// .. PAGE
//
//****************************************************************************************************
.page {
  &.__terms {
    background-color: $base-bg;
    .header {
      .header_nav_i_a {
        &:hover,
        &.__current {
          color: $links-color-hover;
        }
      }
    }
    .section {

    }
    .footer {
      background-color: $flagman-bg;
      color: #fff;
    }
  }
  &.__feedback {
    background-color: $flagman-bg;
    .header {
      .header_nav_i_a {
        &:hover,
        &.__current {
          color: #fff;
        }
      }
    }
    .section {

    }
    .footer {
      background-color: $base-bg;
      color: #b4b4b4;
    }
  }
}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  // .. &.__sticky / null / null
  padding: 5rem 0;
}
//
// .. Logo
//
.header_logo {
  vertical-align: top;
}
//
// .. Navigation
//
.header_nav {
  text-align: center;
}
.header_nav_i {
  display: inline-block;
  margin: 0 2.5rem;
}
.header_nav_i_a {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  &:hover, &.__current {text-decoration: none;}
}



//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
.section {

}


//****************************************************************************************************
//
// .. FEEDBACK
//
//****************************************************************************************************
.feedback-form {
  margin: 0 auto;
  width: 52rem;
}
.feedback-form_submit {
  color: #fff;
  display: inline-block;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 0;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: #fff;
  }
}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  font-weight: 300;
  padding: 6.5rem 0 3rem;
}