%section{role: "region", "aria-label" => "Demo"}
  .ctn.p-t_8.p-b_8
    %article
      %header.m-b_4
        %h3
          %i.icon-beaker
          &nbsp;Chemistry Template

      %nav.cnt
        :css
          ol li:first-child {list-style: none;}

        %ol.tx.__s.__lighten-75{start: "0"}
          %li
            %a.tx.__m{href: "/components"} Components
          %li 
            %a.tx.__m{href: "/index"} Index
          %li 
            %a.tx.__m{href: "/grid"} Grid
          %li 
            %a.tx.__m{href: "/links"} Links
          %li 
            %a.tx.__m{href: "/forms"} Forms
          %li 
            %a.tx.__m{href: "/content"} Content
          %li 
            %a.tx.__m{href: "/styles"} Styles