:javascript
  if( isMobile.iOS() ) {
    window.location.replace(url.ios);
  } else if( isMobile.Android() ) {
    window.location.replace(url.android);
  } else {
    window.location.replace('/');
  }

%p Redirected to App